{% extends 'base.html.twig' %}
{% import 'theme/action.html.twig' as action %}
{% block title %}Producto index{% endblock %}

{% block body %}
    <h4>Producto index</h4>

  
       <table class="table style-two">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Fecha</th>
                <th>Hora</th>
                <th>Foto</th>
                <th>Nombre</th>
                <th>Vendedor</th>
                <th>Precio</th>
                <th>Descuento</th>
                <th>Activo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for producto in productos %}
            <tr>
                {# <td>{{ producto.id }}</td> #}
                <td>{{producto.CreatedAtt | date('d-m-y')}}</td>
                <td>{{producto.CreatedAtt  | date('h:i:s a')}}</td>
                <td>
                    {% if producto.foto %}
                        <img src="{{asset(producto.foto.filePath) | imagine_filter('mini')  }}" alt="Foto"/>
                    {% endif %}
                </td>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.vendedor }}</td>
                <td>{{ producto.precio }}</td>
                <td>{{ producto.descuento }}</td>
                <td>{{ producto.activo ? 'Si' : 'No' }}</td>
                <td>
                   {{action.btn_show(path('app_producto_show', {'id': producto.id}))}}
                   {{action.btn_edit(path('app_producto_edit', {'id': producto.id}))}}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  

    {{action.btn_create( path('app_producto_new'))}}
{% endblock %}
