{% extends 'base.html.twig' %}

{% block title %}Vendedor index{% endblock %}

{% block body %}
    <h1>Vendedor index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Telefono</th>
                <th>Direccion</th>
                <th>Ruc</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vendedor in vendedors %}
            <tr>
                <td>{{ vendedor.id }}</td>
                <td>{{ vendedor.nombre }}</td>
                <td>{{ vendedor.telefono }}</td>
                <td>{{ vendedor.direccion }}</td>
                <td>{{ vendedor.Ruc }}</td>
                <td>
                    <a href="{{ path('app_vendedor_show', {'id': vendedor.id}) }}">show</a>
                    <a href="{{ path('app_vendedor_edit', {'id': vendedor.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_vendedor_new') }}">Create new</a>
{% endblock %}
