{% extends 'front.html.twig' %}

{% block title %}Producto{% endblock %}

{% block body %}

    <!-- ======================== Breadcrumb Two Section Start ===================== -->
    <section class="breadcrumb border-bottom p-0 d-block section-bg position-relative z-index-1">

        <div class="breadcrumb-two">
            <img src="{{ asset('build/images/gradients/breadcrumb-gradient-bg.png') }}" alt="" class="bg--gradient">
            <div class="container container-two">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="breadcrumb-two-content">

                            <ul class="breadcrumb-list flx-align gap-2 mb-2">
                                <li class="breadcrumb-list__item font-14 text-body">
                                    <a href="{{ path('app_home') }}" class="breadcrumb-list__link text-body hover-text-main">Inicio</a>
                                </li>
                                <li class="breadcrumb-list__item font-14 text-body">
                                    <span class="breadcrumb-list__icon font-10"><i class="fas fa-chevron-right"></i></span>
                                </li>
                                <li class="breadcrumb-list__item font-14 text-body">
                                    <a href="#" class="breadcrumb-list__link text-body hover-text-main">Products</a>
                                </li>
                                <li class="breadcrumb-list__item font-14 text-body">
                                    <span class="breadcrumb-list__icon font-10"><i class="fas fa-chevron-right"></i></span>
                                </li>
                                <li class="breadcrumb-list__item font-14 text-body">
                                    <span class="breadcrumb-list__text">SaaS</span>
                                </li>
                            </ul>

                            <h3 class="breadcrumb-two-content__title mb-3 text-capitalize">{{ producto.nombre }}</h3>

                            <div class="breadcrumb-content flx-align gap-3">
                                <div class="breadcrumb-content__item text-heading fw-500 flx-align gap-2">
                                    <span class="text"><a href="#" class="link text-main fw-600">{{ producto.vendedor }}</a> </span>
                                </div>
                                <div class="breadcrumb-content__item text-heading fw-500 flx-align gap-2">
                                    <span class="icon">
                                        <img src="{{ asset('build/images/icons/cart-icon.svg') }}" alt="">
                                    </span>
                                    <span class="text">158 ventas</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container container-two">
            <div class="breadcrumb-tab flx-wrap align-items-start gap-lg-4 gap-2">
                <ul class="nav tab-bordered nav-pills" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="pills-product-details-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-product-details" type="button" role="tab" aria-controls="pills-product-details"
                                aria-selected="true">Detalles</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-rating-tab" data-bs-toggle="pill" data-bs-target="#pills-rating"
                                type="button" role="tab" aria-controls="pills-rating" aria-selected="false">
                    <span class="d-flex align-items-center gap-1">
                        <span class="star-rating">
                            <span class="star-rating__item font-11"><i class="fas fa-star"></i></span>
                            <span class="star-rating__item font-11"><i class="fas fa-star"></i></span>
                            <span class="star-rating__item font-11"><i class="fas fa-star"></i></span>
                            <span class="star-rating__item font-11"><i class="fas fa-star"></i></span>
                            <span class="star-rating__item font-11"><i class="fas fa-star"></i></span>
                        </span>
                        <span class="star-rating__text text-body"> 5.0</span>
                        <span class="star-rating__text text-body"> (180)</span>
                    </span>
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-comments-tab" data-bs-toggle="pill" data-bs-target="#pills-comments"
                                type="button" role="tab" aria-controls="pills-comments" aria-selected="false">Comentarios (50)</button>
                    </li>
                </ul>
                <div class="social-share">
                    <button type="button" class="social-share__button">
                        <img src="{{ asset('build/images/icons/share-icon.svg') }}" alt="">
                    </button>
                    <div class="social-share__icons">
                        <ul class="social-list colorful-style">
                            <li class="social-list__item">
                                <a href="https://www.facebook.com" class="social-list__link text-body flex-center"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li class="social-list__item">
                                <a href="https://www.twitter.com" class="social-list__link text-body flex-center"> <i class="fab fa-linkedin-in"></i></a>
                            </li>
                            <li class="social-list__item">
                                <a href="https://www.google.com" class="social-list__link text-body flex-center"> <i class="fab fa-twitter"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- ======================== Breadcrumb Two Section End ===================== -->

    <!-- ======================= Product Details Section Start ==================== -->
    <div class="product-details mt-32 padding-b-120">
        <div class="container container-two">
            <div class="row gy-4">
                <div class="col-lg-8">
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-product-details" role="tabpanel" aria-labelledby="pills-product-details-tab" tabindex="0">
                            <!-- Product Details Content Start -->
                            <div class="product-details">
                                <div class="product-details__thumb">
                                    <img src="{{ asset(producto.foto.filePath) | imagine_filter('producto_detalle') }}" alt="">
                                </div>
                                <div class="product-details__buttons flx-align justify-content-center gap-3">
                                    <a href="#" class="btn btn-primary d-inline-flex align-items-center gap-2 pill px-sm-5 justify-content-center">
                                        Vista Previa
                                        <img src="{{ asset('build/images/icons/eye-outline.svg') }}" alt="">
                                    </a>
{#                                    <a href="#" class="screenshot-btn btn btn-outline-dark pill px-sm-5"#}
{#                                       data-images='["assets/images/thumbs/product-details.png", "assets/images/thumbs/product-details.png"]'>#}
{#                                        Screenshot#}
{#                                    </a>#}

                                </div>

                                <p class="mt-4">
                                    {{ producto.descripcion | raw }}
                                </p>

                            </div>
                            <!-- Product Details Content End -->
                        </div>
                        <div class="tab-pane fade" id="pills-rating" role="tabpanel" aria-labelledby="pills-rating-tab" tabindex="0">
                            <div class="product-review-wrapper">
                                <div class="product-review">
                                    <div class="product-review__top flx-between">
                                        <div class="product-review__rating flx-align">
                                            <div class="d-flex align-items-center gap-1">
                                                <ul class="star-rating">
                                                    <li class="star-rating__item font-11"><i class="fas fa-star"></i></li>
                                                    <li class="star-rating__item font-11"><i class="fas fa-star"></i></li>
                                                    <li class="star-rating__item font-11"><i class="fas fa-star"></i></li>
                                                    <li class="star-rating__item font-11"><i class="fas fa-star"></i></li>
                                                    <li class="star-rating__item font-11"><i class="fas fa-star"></i></li>
                                                </ul>
                                                <span class="star-rating__text text-body"> 5.0</span>
                                            </div>
                                            <span class="product-review__reason">For <span class="product-review__subject">Customer Support</span> </span>
                                        </div>
                                        <div class="product-review__date">
                                            by <a href="#" class="product-review__user text--base">John Doe </a> 2 month ago
                                        </div>
                                    </div>
                                    <div class="product-review__body">
                                        <p class="product-review__desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam itaque vitae ex possimus delectus? Voluptas expedita accusantium aperiam quo quod dolore dignissimos rerum praesentium deserunt libero recusandae quisquam est accusamus eos dolorum sit explicabo, sapiente pariatur voluptates veniam aut veritatis, magnam velit similique! Ex similique magni labore aperiam, eius quas molestiae accusantium porro eaque esse minus amet doloribus quo odit illo doloremque.</p>
                                    </div>
                                </div>
                                <div class="product-review">
                                    <div class="product-review__top flx-between">
                                        <div class="product-review__rating flx-align">
                                            <div class="d-flex align-items-center gap-1">
                                                <ul class="star-rating">
                                                    <li class="star-rating__item font-11"><i class="fas fa-star"></i></li>
                                                    <li class="star-rating__item font-11"><i class="fas fa-star"></i></li>
                                                    <li class="star-rating__item font-11"><i class="fas fa-star"></i></li>
                                                    <li class="star-rating__item font-11"><i class="fas fa-star"></i></li>
                                                    <li class="star-rating__item font-11"><i class="fas fa-star"></i></li>
                                                </ul>
                                                <span class="star-rating__text text-body"> 5.0</span>
                                            </div>
                                            <span class="product-review__reason">For <span class="product-review__subject">Customer Support</span> </span>
                                        </div>
                                        <div class="product-review__date">
                                            by <a href="#" class="product-review__user text--base">John Doe </a> 2 month ago
                                        </div>
                                    </div>
                                    <div class="product-review__body">
                                        <p class="product-review__desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam itaque vitae ex possimus delectus? Voluptas expedita accusantium aperiam quo quod dolore dignissimos rerum praesentium deserunt libero recusandae quisquam est accusamus eos dolorum sit explicabo, sapiente pariatur voluptates veniam aut veritatis, magnam velit similique! Ex similique magni labore aperiam, eius quas molestiae accusantium porro eaque esse minus amet doloribus quo odit illo doloremque.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-comments" role="tabpanel" aria-labelledby="pills-comments-tab" tabindex="0">

                            <!-- Comment Start -->
                            <div class="comment mt-64 mb-64">
                                <h5 class="mb-32">2 Comments</h5>
                                <ul class="comment-list">
                                    <li class="comment-list__item d-flex align-items-start gap-sm-4 gap-3">
                                        <div class="comment-list__thumb flex-shrink-0">
                                            <img src="{{ asset('build/images/thumbs/comment1.png') }}" class="cover-img" alt="">
                                        </div>
                                        <div class="comment-list__content">
                                            <div class="flx-between gap-2 align-items-start">
                                                <div>
                                                    <h6 class="comment-list__name font-18 mb-sm-2 mb-1">Jenny Wilson</h6>
                                                    <span class="comment-list__date font-14">Jan 21, 2024 at 11:25 pm</span>
                                                </div>
                                                <a class="comment-list__reply fw-500 flx-align gap-2 hover-text-decoration-underline" href="#comment-box">
                                                    Reply
                                                    <span class="icon"><img src="{{ asset('build/images/icons/reply-icon.svg') }}" alt=""></span>
                                                </a>
                                            </div>
                                            <p class="comment-list__desc mt-3">Lorem ipsum dolor sit amet consectetur. Nec nunc pellentesque massa pretium. Quam sapien nec venenatis vivamus sed cras faucibus mi viverra. Quam faucibus morbi cras vitae neque. Necnunc pellentesque massa pretium.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <ul class="comment-list comment-list--two">
                                            <li class="comment-list__item d-flex align-items-start gap-sm-4 gap-3">
                                                <div class="comment-list__thumb flex-shrink-0">
                                                    <img src="{{ asset('build/images/thumbs/comment2.png') }}" class="cover-img" alt="">
                                                </div>
                                                <div class="comment-list__content">
                                                    <div class="flx-between gap-2 align-items-start">
                                                        <div>
                                                            <h6 class="comment-list__name font-18 mb-sm-2 mb-1">Courtney Henry</h6>
                                                            <span class="comment-list__date font-14">Jan 21, 2024 at 11:25 pm</span>
                                                        </div>
                                                        <a class="comment-list__reply fw-500 flx-align gap-2 hover-text-decoration-underline" href="#comment-box">
                                                            Reply
                                                            <span class="icon"><img src="{{ asset('build/images/icons/reply-icon.svg') }}" alt=""></span>
                                                        </a>
                                                    </div>
                                                    <p class="comment-list__desc mt-3">Lorem ipsum dolor sit amet consectetur. Nec nunc pellentesque massa pretium. Quam sapien nec venenatis vivamus sed cras faucibus.</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <!-- Comment End -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <!-- ======================= Product Sidebar Start ========================= -->
                    <div class="product-sidebar section-bg">
                        <div class="product-sidebar__top position-relative flx-between gap-1">
                            <h4 class="product-sidebar__title">{{ producto.precioDescuento }}</h4>
                            <h6 class="product-sidebar__title text-decoration-line-through">{{ producto.precio }}</h6>
                        </div>
                        {% if producto.descuento %}
                            <div class="flx-between mt-3">
                                <div class="common-check mb-0">
                                    Descuento
                                </div>
                                <div class="flx-align gap-2">
                                    <h6 class="product-card__price mb-0 font-14 fw-500">{{ producto.descuento }} %</h6>
                                </div>
                            </div>
                        {% endif %}
                        <button type="button" class="btn btn-success d-flex w-100 justify-content-center align-items-center gap-2 pill px-sm-5 mt-32">
                            <img src="{{ asset('build/images/icons/add-to-cart.svg') }}" alt="">
                            Agregar a carrito
                        </button>

                        <!-- Meta Attribute List Start -->
                        <ul class="meta-attribute">
                            <li class="meta-attribute__item">
                                <span class="name">Publicado</span>
                                <span class="details">{{ producto.createdAtt | date('d M Y') }}</span>
                            </li>
                            <li class="meta-attribute__item">
                                <span class="name">Categoria</span>
                                <span class="details">{{ producto.categoria }}</span>
                            </li>
                        </ul>
                        <!-- Meta Attribute List End -->
                    </div>
                    <!-- ======================= Product Sidebar End ========================= -->
                </div>
            </div>
        </div>
    </div>
    <!-- ======================= Product Details Section End ==================== -->
{% endblock %}